---
import { getEntryBySlug } from "astro:content";
const { slug } = Astro.params;
const post = await getEntryBySlug("content", slug);
if (!post) throw Astro.redirect("/404");
const { Content, data } = await post.render();
---

<article class="prose mx-auto px-4">
  <h1>{data.title}</h1>
  <p><small>{data.pubDate}</small></p>
  <Content />
</article>
